<%- include("partials/header.ejs") %>

<body>
    <h1>About </h1>
    <p>Manuel Farms was established in 2024 to eliminate the huge gap between the farmers, producers and
    retailers, thereby getting the food produce directly from the farmer to the consumer.</p>

    
    <h1>Vision.</h1> 
    <p>Manuel Farms would revolutionize the way Farming andAgriculture is looked at and approached in Nigeria.</p>

</body>

<%- include("partials/footer.ejs") %>